<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Appenders>
<!--        <Console name="Console" target="SYSTEM_OUT">-->
<!--            <PatternLayout>-->
<!--                <Pattern>%d{yyyy-MM-dd HH:mm:ss,SSS} [%p] %c{1}: %m%n</Pattern>-->
<!--            </PatternLayout>-->
<!--        </Console>-->
        <RollingFile name="RollingFile"
                     fileName="logs/hippodrome.log"
                     filePattern="logs/hippodrome-%d{yyyy-MM-dd}.log">

            <PatternLayout>
                <Pattern>%d{yyyy-MM-dd HH:mm:ss,SSS} %p %c{1}: %m%n</Pattern>
            </PatternLayout>

            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
                <SizeBasedTriggeringPolicy size="10MB"/>
            </Policies>

            <DefaultRolloverStrategy>
                <Delete basePath="logs" maxDepth="1">
                    <IfFileName glob="hippodrome-*.log"/>
                    <IfLastModified age="7d"/>
                </Delete>
            </DefaultRolloverStrategy>

        </RollingFile>
    </Appenders>
    <Loggers>
        <Root level="DEBUG">
            <AppenderRef ref="RollingFile"/>
        </Root>
    </Loggers>
</Configuration>
